<div class="container">
  <div #ref>
    <ng-content  select=".title"></ng-content>
  </div>
  <p *ngIf="!ref.children.length">
    {{title}} 
    {{ user.firstName | fullName : user.lastName }}
  </p>
  <p>Age:               {{user.age}}</p>
  <p>Gender:            {{getGender}}</p>
  <p>Activation:        {{getActivated}}</p>
  <p>Date of creation:  {{user.dateOfCreation | date:'MM-dd-yyyy'}}</p>
  <p>Salary:            {{user.salary | currency}}</p>
  <p>
    <button mat-raised-button color="primary" (click)="onSwitchClick()">Activate (Deactivate)</button>
    <button mat-raised-button color="primary" (click)="onDeleteClick(0)">Delete</button>
  </p>
</div>

