<div>
    <label>{{label}}</label>
    <div>
        <mat-checkbox [(ngModel)]="isShowOnlyActivated">
            Show only activated users
        </mat-checkbox>
    </div>

    <ul>
        <ng-container *ngFor="let user of users">
            <li *ngIf="isShowUser(user.activated)">
                <div class="inlineDiv" [appHighlight]="'gray'" [isHighlight]="user.age>=18">
                    <app-user-card [user]="user" (deleteClick)="delete(user)">
                        <div class="title"> 
                            <p>User card title from parent component: {{ user.firstName | fullName : user.lastName }}</p>
                        </div>
                    </app-user-card>
                </div>
            </li>
        </ng-container>
    </ul>
</div>


