<div>
    <label>{{label}}</label>

    <ul>
        <ng-container *ngFor="let vehicle of vehicles">
            <li>
                <div class="inlineDiv">
                    <!-- <app-user-card [user]="user" (deleteClick)="delete(user)">
                        <div class="title"> 
                            <p>User card title from parent component: {{ user.firstName | fullName : user.lastName }}</p>
                        </div>
                    </app-user-card> -->
                </div>
            </li>
        </ng-container>
    </ul>
</div>
